//mixins
@mixin input {
    display: block;
    border: 1x solid $white;
    margin-bottom: 20px;    
    padding: 5px;
    border-radius: 5px;
    width: 502px;
}

@mixin clearfix {
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

//vars
$container-width: 1185px;
$footer-height: 22px;
$padding-top: 50px;
$bg-image: url("../img/icons/social%20buttons.png");

//colors
$grey: #445161;
$white: #ffffff;

//layout
@import "layout/normalize";
@import "layout/settings";

//sections
@import "sections/brand";
@import "sections/about";
@import "sections/contacts";
@import "sections/footer";