.brand {
	height: 324px;
    background: $grey;
}

.brand__left {
    float: left;
    padding-top: 44px;
}

.title {
	height: 48px;
    font-size: 48px;
    color: $white;
}

.sidebar {
    padding-top: 46px;
}

.plus-text {
	padding-bottom: 16px;
    font-size: 18px;
    color: $white;
}

.plus-check {
	padding-right: 10px;
}

.brand__right {
    padding-top: $padding-top;
    float: right;
}